.TagBody {
    grid-area: TagBody;

}

.TagBody .parent {
    border: solid 5px teal;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.TagBody .parent div:hover {
    background-color: #800296;
}

.TagBody .parent div {
    background-color: #9C27B0;
    color: white;
    border-radius: 19px;
    font-size: 10px;
    padding: 0px;
    padding: 10px;
    margin: 5px;
}