@font-face {
    font-family: "aziz-test-medium";
    src: url(/fonts/Ubuntu-Medium.ttf);
}

@font-face {
    font-family: "aziz-test-Bold";
    src: url(/fonts/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: "aziz-test-Regular" ;
    src: url(/fonts/Ubuntu-Regular.ttf);
}




* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "aziz-test-medium";
}

body {
    background-color: hsl(218, 100%, 97%)
}

.body .steps ol {
    position: absolute;
    left: 30px;
    counter-reset: step;
}

.body .steps ol li > span:nth-child(1) {
    position: absolute;
    left: 0px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: "aziz-test-Bold";
    color: white;
    outline: 1px solid white;
    font-weight: 500;
}

.body .steps ol li > span:nth-child(2) {
    color: hsl(231, 11%, 63%);
}

.body .steps ol li > span:nth-child(3) {
    color: white;
}

.body .steps ol li {
    counter-increment: step;
    margin: 45px;
    list-style: none;
}

.body .steps ol li span {
    display: block;

}

.body {
    height: 600px;
    width: 1000px;
    background-color: white;
    border-radius: 15px;
    margin: 100px auto;
    padding: 15px;
    display: grid;
    grid-template-columns: 335px repeat(2, 1fr) 60px;
    grid-template-rows: 1fr;
    grid-template-areas: "steps step step .";

}

.steps {
    grid-area: steps;
    background-image: url(./images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}

.body .stepOne {
    grid-area: step;

    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
        "one"
        "inpOne"
        "inpTwo"
        "inpThree"
        "Next";
}



.stepOne .one h1 {
    margin-top: 35px;
    font-family: "aziz-test-Bold";
    margin-bottom: 15px;
}

.stepOne .one {
    grid-area: one;
    position: relative;
}

.stepOne .inpOne {
    grid-area: inpOne;
    position: relative;
}

.stepOne .inpTwo {
    grid-area: inpTwo;
    position: relative;
}

.stepOne .inpThree {
    grid-area: inpThree;
    position: relative;
}


.stepOne .divNex {
    grid-area: Next;
    position: relative;
}



.Next:hover {
    background-color: hsl(243, 100%, 62%);
    transform: rotate(8deg);
}

.Next {
    cursor: pointer;
    transition: all 0.5s ease;
    FONT-WEIGHT: 500;
    WIDTH: 100PX;
    HEIGHT: 45PX;
    BORDER-RADIUS: 11PX;
    BACKGROUND-COLOR: hsl(213, 96%, 18%);
    COLOR: WHITE;
    FONT-SIZE: small;
    BORDER: NONE;
    OUTLINE: NONE;
    position: absolute;
    right: 0;
    bottom: 21px;
}

.Nextd {
    cursor: pointer;
    transition: all 0.5s ease;
    FONT-WEIGHT: 500;
    WIDTH: 100PX;
    HEIGHT: 45PX;
    BORDER-RADIUS: 11PX;
    BACKGROUND-COLOR: hsl(213, 96%, 18%);
    COLOR: WHITE;
    FONT-SIZE: small;
    BORDER: NONE;
    OUTLINE: NONE;
    position: absolute;
    right: 10px;
    bottom: 21px;
}

.Nextd:hover {
    background-color: hsl(0, 100%, 62%);
    transform: rotate(-8deg);
}

input:hover {
    border: 1px solid hsl(243, 100%, 62%);
}

input {
    width: 100%;
    padding: 3%;
    height: 55px;
    display: block;
    position: absolute;
    bottom: 0px;
    font-size: large;
    border-radius: 7px;
    outline: none;
    border: 1px solid #ddd;
}

label {
    position: absolute;
    transition: all 1s ease;
    top: 25px;
    font-size: large;
}

@media (min-width:350px) and (max-width:375px) {

    .body {
        height: 440px;
        width: 90%;
        background-color: white;
        border-radius: 15px;
        margin: 100px auto;
        padding: 15px;
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr  1fr;
        grid-template-areas: "inpOne"
            "inpTwo"
            "inpThree"
            "Next";
    }

    .steps {
        grid-area: steps;
            background-image: url(./images/bg-sidebar-mobile.svg);
            /* background-repeat: no-repeat; */
            width: 100%;
            position: absolute;
            z-index: -1;
            height: 172px;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
    }

.body .steps ol li > span:nth-child(1) {
    position: relative ; 
    left: 0px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-family: "aziz-test-Bold";
    color: white;
    outline: 1px solid white;
    font-weight: 500;
}

.body .steps ol {
    position: relative;
    left: 0px;
    counter-reset: step;
    display: flex;
    margin-top: 15px;
}

.body .steps ol li > span:nth-child(2) {
    color: hsl(231, 11%, 63%);
    display: none;
}

.body .steps ol li > span:nth-child(3) {
    color: white;
    display: none;
}

.body .steps ol li {
    margin: 15px;
}

.stepOne .divNex {
    grid-area: Next;
    position: fixed;
    right: 0px;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 10%;
}

.Nextd {
    cursor: pointer;
    transition: all 0.5s ease;
    FONT-WEIGHT: 500;
    WIDTH: 100PX;
    HEIGHT: 45PX;
    BORDER-RADIUS: 7PX;
    BACKGROUND-COLOR: hsl(213, 96%, 18%);
    COLOR: WHITE;
    FONT-SIZE: small;
    BORDER: NONE;
    OUTLINE: NONE;
    position: absolute;
    right: 10px;
    bottom: 21px;
}

.stepOne .one h1 {
    margin-top: 0px;
    font-family: "aziz-test-Bold";
    margin-bottom: 15px;
}

.stepOne .one p {
    font-size: large;
    color: hsl(231, 11%, 63%);
}

input {
    width: 100%;
    padding: 2%;
    height: 35px;
    display: block;
    position: absolute;
    bottom: 0px;
    font-size: medium;
    border-radius: 7px;
    outline: none;
    border: 1px solid #ddd;
}

label {
    position: absolute;
    transition: all 1s ease;
    top: 25px;
    font-size: medium;
}

}