.body .StepTwo {
    grid-area: step;
    /* background-color: cadetblue; */

    display: grid;
    grid-template-rows: 1fr 2fr 50px 1fr;
    grid-template-areas:
        "one"
        "plan"
        "swith"
        "Next";
}

.StepTwo .one h1 {
    margin-top: 35px;
    font-family: "aziz-test-Bold";
    margin-bottom: 15px;
}

.StepTwo .one {
    grid-area: one;
    position: relative;
}

.StepTwo .planStyle {
    border: 1px solid #ddd;
    width: 165px;
    padding: 15px;
    height: 180px;
    border-radius: 10px;
}

.StepTwo .plans {
    grid-area: plan;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StepTwo .plans img {
    margin-bottom: 55px;
}

.StepTwo .plans h4 {
    margin-bottom: 15px;
}

.StepTwo .plans p {
    font-size: small;
    color: hsl(231, 11%, 63%);
}

.StepTwo .planOne {
    /* grid-area: plan; */
    position: relative;

}

.StepTwo .palnTwo {
    /* grid-area: plan; */
    position: relative;
}

.StepTwo .planThree {
    /* grid-area: plan; */
    position: relative;
}

.StepTwo .swith {
    grid-area: swith;
    position: relative;
}


.StepTwo .bottuns {
    grid-area: Next;
    position: relative;
}

.StepTwo .bottuns .next {
    cursor: pointer;
    transition: all 0.5s ease;
    FONT-WEIGHT: 500;
    WIDTH: 100PX;
    HEIGHT: 45PX;
    BORDER-RADIUS: 11PX;
    BACKGROUND-COLOR: hsl(213, 96%, 18%);
    COLOR: WHITE;
    FONT-SIZE: small;
    BORDER: NONE;
    OUTLINE: NONE;
    position: absolute;
    right: 0;
    bottom: 21px;
}

.StepTwo .bottuns .next:hover {
    background-color: hsl(243, 100%, 62%);
}

.StepTwo .bottuns .back {
    width: 100px;
    height: 45px;
    border: none;
    background-color: white;
    position: absolute;
    bottom: 21px;
    font-size: large;
}

.swith {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.swith .theSwith {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #ddd;
    width: 35px;
    height: 15px;
    padding: 5px;
}
.swith .theSwith span {
    width: 12px;
    height: 12px;
    background-color: red;
    display: block;
}