.body .stepFour {
    grid-area: step;

    display: grid;
    grid-template-rows: 1fr 2fr  1fr;
    grid-template-areas:
        "title"
        "data"
        "Next";
}

.stepFour h1 {
    margin-top: 35px;
    font-family: "aziz-test-Bold";
    margin-bottom: 15px;
    color: hsl(213, 96%, 18%) ;
}
.stepFour p {
    font-size: small;
    color: hsl(231, 11%, 63%);
}

.stepFour .title {
    grid-area: title;
    position: relative;
}

.stepFour .div {
    background-color: hsl(218, 100%, 97%);
    padding: 15px;
    border-radius: 15px;
}

.stepFour .data {
    /* background-color: hsl(206, 94%, 87%); */
    /* padding: 15px; */
    border-radius: 15px;
    padding: 0 20px  20px  20px;
}

.stepFour .div div,.total {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.total span {
 margin-left: 15px;
 margin-right: 15px;
}

.stepFour .data {
    grid-area: data;
}

.stepFour .bottuns {
    grid-area: Next;
    position: relative;
}

.stepFour .bottuns .next {
    cursor: pointer;
    transition: all 0.5s ease;
    FONT-WEIGHT: 500;
    WIDTH: 100PX;
    HEIGHT: 45PX;
    BORDER-RADIUS: 11PX;
    BACKGROUND-COLOR: hsl(213, 96%, 18%);
    COLOR: WHITE;
    FONT-SIZE: small;
    BORDER: NONE;
    OUTLINE: NONE;
    position: absolute;
    right: 0;
    bottom: 21px;
}

.stepFour .bottuns .next:hover {
    background-color: hsl(243, 100%, 62%);
    transform: rotate(10deg);
}

.stepFour .bottuns .back {
    width: 100px;
    height: 45px;
    border: none;
    background-color: white;
    position: absolute;
    bottom: 21px;
    font-size: large;
    cursor: pointer;
    transition: all .5s ease;
}

.stepFour .bottuns .back:hover {
    transform: rotate(-10deg);
    color: hsl(243, 100%, 62%);
}
