.body .StepTwo {
    grid-area: step;
    display: grid;
    grid-template-rows: 1fr 2fr 50px 1fr;
    grid-template-areas:
        "one"
        "plan"
        "swith"
        "Next";
}

.StepTwo .one h1 {
    margin-top: 35px;
    font-family: "aziz-test-Bold";
    margin-bottom: 15px;
}

.StepTwo .one {
    grid-area: one;
    position: relative;
}

.StepTwo .planStyle {
    border: 1px solid #ddd;
    width: 165px;
    padding: 15px;
    height: 180px;
    border-radius: 10px;
}

.StepTwo .plans {
    grid-area: plan;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.StepTwo .plans img {
    margin-bottom: 55px;
}

.StepTwo .plans h4 {
    margin-bottom: 15px;
}

.StepTwo .plans p {
    font-size: small;
    color: hsl(231, 11%, 63%);
}

.StepTwo .planOne {
    /* grid-area: plan; */
    position: relative;
    transition: all 0.5s ease;
}

.StepTwo .swith {
    grid-area: swith;
    position: relative;
    background-color: hsl(218, 100%, 97%);
    border-radius: 5px;
}

.StepTwo .bottuns {
    grid-area: Next;
    position: relative;
}

.StepTwo .bottuns .next {
    cursor: pointer;
    transition: all 0.5s ease;
    FONT-WEIGHT: 500;
    WIDTH: 100PX;
    HEIGHT: 45PX;
    BORDER-RADIUS: 11PX;
    BACKGROUND-COLOR: hsl(213, 96%, 18%);
    COLOR: WHITE;
    FONT-SIZE: small;
    BORDER: NONE;
    OUTLINE: NONE;
    position: absolute;
    right: 10px;
    bottom: 21px;
}

.StepTwo .bottuns .next:hover {
    background-color: hsl(243, 100%, 62%);
        transform: rotate(10deg);  
}

.StepTwo .bottuns .back {
    width: 100px;
    height: 45px;
    border: none;
    background-color: white;
    position: absolute;
    bottom: 21px;
    font-size: large;
    cursor: pointer;
    transition: all .5s ease;
}

.StepTwo .bottuns .back:hover{
    transform: rotate(-10deg);
    color: hsl(243, 100%, 62%);
}

.swith {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.swith .theSwith {
    display: flex;
    justify-content:  left ;
    align-items: center;
    background-color: hsl(213, 96%, 18%);
    width: 35px;
    height: 15px;
    padding: 5px 2px;
    border-radius: 10px;
    transition: all 0.5s ease;
}


.swith .theSwith span.left {
    width: 12px;
    height: 12px;
    background-color: hsl(0, 100%, 100%);
    display: block;
    border-radius: 50%;
    transition: all 0.3s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    margin-left: 0px;
}

.swith .theSwith span.rite {
    width: 12px;
    height: 12px;
    background-color: hsl(0, 100%, 100%);
    display: block;
    border-radius: 50%;
    transition: all 0.3s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%);
    margin-left: 18px;
}

@media (min-width:350px) and (max-width:375px) {

.body .StepTwo {
    grid-area: step;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 2fr 50px 1fr;
    grid-template-areas:
        "one"
        "plan"
        "swith"
        "swith";
}


.StepTwo .swith {
    grid-area: swith;
    position: relative;
    background-color: hsl(218, 100%, 97%);
    border-radius: 5px;
    height: 35px;
    margin-top: 40px;
    width: 100%;
}

.StepTwo .planStyle {
    border: 1px solid #ddd;
    width: 100%;
    padding: 15px;
    height: 65px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.StepTwo .plans h4 {
    margin-bottom: 9px;
}

.StepTwo .one h1 {
    margin-top: 0px;
    font-family: "aziz-test-Bold";
    margin-bottom: 15px;
    font-size: x-large;
}

.StepTwo .one p {
    font-size: medium;
    color: hsl(231, 11%, 63%);
}

.StepTwo .bottuns {
    grid-area: Next;
    position: fixed;
    right: 0px;
    bottom: 0;
    background-color: white;
    width: 100%;
    height: 10%;
}

    .Nextd {
        cursor: pointer;
        transition: all 0.5s ease;
        FONT-WEIGHT: 500;
        WIDTH: 100PX;
        HEIGHT: 45PX;
        BORDER-RADIUS: 7PX;
        BACKGROUND-COLOR: hsl(213, 96%, 18%);
        COLOR: WHITE;
        FONT-SIZE: small;
        BORDER: NONE;
        OUTLINE: NONE;
        position: absolute;
        right: 10px;
        bottom: 21px;
    }

.StepTwo .plans {
        grid-area: plan;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 222px;
}

.StepTwo .plans img {
    /* margin-bottom: 55px; */
    width: 56px;
    height: 35px;
}

        .StepTwo .planStyle {
            border: 1px solid #ddd;
            width: 100%;
            padding: 15px;
            height: 65px;
            border-radius: 10px;
            display: flex;
        }

}